[submodule "pack/bundle/start/vim-coffee-script"]
	path = pack/bundle/start/vim-coffee-script
	url = https://github.com/vim-scripts/vim-coffee-script.git
[submodule "pack/bundle/start/nord-vim"]
	path = pack/bundle/start/nord-vim
	url = https://github.com/arcticicestudio/nord-vim
[submodule "pack/bundle/start/vim-misc"]
	path = pack/bundle/start/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "pack/bundle/start/vim-rails"]
	path = pack/bundle/start/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "pack/bundle/start/vim-fugitive"]
	path = pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/bundle/start/vimade"]
	path = pack/bundle/start/vimade
	url = https://github.com/TaDaa/vimade.git
[submodule "pack/bundle/start/vim-hug-neovim-rpc"]
	path = pack/bundle/start/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc.git
[submodule "pack/bundle/start/nvim-yarp"]
	path = pack/bundle/start/nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
[submodule "pack/bundle/start/dracula"]
	path = pack/bundle/start/dracula
	url = https://github.com/dracula/vim.git
[submodule "pack/bundle/start/vim-vinegar"]
	path = pack/bundle/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "pack/bundle/start/denite"]
	path = pack/bundle/start/denite
	url = https://github.com/Shougo/denite.nvim.git
