[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/nerd_tree"]
	path = bundle/nerd_tree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/SyntaxFolds"]
	path = bundle/SyntaxFolds
	url = https://github.com/zalun/vim-SyntaxFolds.git
[submodule "bundle/sorround"]
	path = bundle/sorround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule "bundle/vimchat"]
	path = bundle/vimchat
	url = https://github.com/ironcamel/vimchat.git
