[submodule "vim-hug-neovim-rpc"]
	path = vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc.git
[submodule "nvim-yarp"]
	path = nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
[submodule "dracula"]
	path = dracula
	url = https://github.com/dracula/vim.git
[submodule "vim-vinegar"]
	path = vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "denite"]
	path = denite
	url = https://github.com/Shougo/denite.nvim.git
